*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.page{
    background-color: #101010;
}
.header{
    padding-top: 42px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.profile{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    margin-top: 96px;
}
.profile__bio{
    display: flex;
    justify-content: space-between;
    max-width: 512px;
    width: 100%;
}
.profile__info{
    padding-top: 60px;
    color: white;
    position: relative;
}
.profile__name{
    margin-right: 40px;
}
.profile__job{
    margin-right: 40px;
}
.profile__edit-btn{
    position: absolute;
    right: 0%;
    background-color: #101010;
}

.profile__delete-btn{
    margin-top: 50px;
    border: none;
    background: none;
}
.profile__add-btn{
    margin-top: 50px;
    border: none;
    background-image: none;
    background-color: #101010;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0px solid white;
    border-radius: 10%;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 43px;
    position: relative;
    border: 0px solid white;
    border-radius: 10%;
    padding-top: 43px;
}

.gallery__card-trash-btn{
    position: absolute;
    top: 15%;
    left: 26%;
    border: none;
    background-color: #101010;
}
.gallery__card-main-img{
    width: 360px;
    height: 360px;
}
.gallery__card-text{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 10px;
}
.gallery__card-like-btn{
    background: inherit; 
}
.footer__under-line-img{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 43px;   
}
.footer__under-logo-img{
    display: flex;
    justify-content: end;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.footer__logo-img{
    max-width: 313px;
    width: 100%;
}